<div class="row">
  <h2>Gestión de productos</h2>
  <p>Gestiona la información de tus productos.</p>
</div>

<div class="row">
  <button mat-fab color="primary" (click)="openProductModal()" aria-label="Agregar producto">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="mat-elevation-z8" style="margin-top: 20px;">
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese el valor a buscar" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="full-width-table">

    <ng-container matColumnDef="idProducto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <td mat-cell *matCellDef="let product"> {{product.idProducto}} </td>
    </ng-container>

    <ng-container matColumnDef="codigoProducto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Código del producto </th>
      <td mat-cell *matCellDef="let product"> {{product.codigoProducto}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
      <td mat-cell *matCellDef="let product"> {{product.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="costo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
      <td mat-cell *matCellDef="let product"> {{product.costo}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="3">
        No se encontró información del producto "{{input.value}}"
      </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Selector de página"></mat-paginator>
</div>
