<div class="login-container">
  <mat-card class="login-card">
    <img src="https://media.licdn.com/dms/image/D4E0BAQFE7wB_5Mjeaw/company-logo_200_200/0/1714412526352/corbumacorpcr_logo?e=2147483647&v=beta&t=Y3jxTU6Ck5AjKfTZSSgpLH8RoK3eKgzmw_ay0y2A6Uw" alt="Logo" class="login-logo" />
    <h5 class="login-title">Bienvenido SGS</h5>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="login-field" style="background-color: transparent">
        <mat-label>Usuario</mat-label>
        <input matInput type="text" formControlName="usuario"/>
      </mat-form-field>
      <mat-form-field appearance="fill" class="login-field">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="clave"/>
      </mat-form-field>
      <div *ngIf="error" style="color:red">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <button mat-button class="login-button" type="submit">
        Iniciar Sesión
      </button>
    </form>
  </mat-card>


</div>
